/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #E4E9F7;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 15px 0;
    transition: all 0.3s ease;
    background: #11101d;
}

.navbar.sticky {
    background: #1d1b31;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a,
.navbar .logo i {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #5b51e6;
}

.banner {
    height: 20vh;
    background: #E4E9F7;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}



.home-section .title {
    display: flex;
    justify-content: center;
}

.home-section .title p {
    font-size: 30px;
    font-weight: 500;
    color: #1d1b31;
}

.home-section .social-media {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    padding: 30px;
    
}


.home-section .social-media a {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    color: #E4E9F7;
    background: #1d1b31;
    border-radius: 20px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.home-section .social-media a img {
    width: 50px;

}

.home-section .social-media a p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section .social-media a:nth-child(1):hover{
    background: #1976d2;
    
}
.home-section .social-media a:nth-child(2):hover{
    background: #E1306C;
}
.home-section .social-media a:nth-child(3):hover{
    background: #4caf50;

}



.home-section .social-media a:nth-child(1) {
    transform: translateY(500px);

    animation-name: social-media-buttons;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.home-section .social-media a:nth-child(2) {
    transform: translateY(500px);

    animation-name: social-media-buttons;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.home-section .social-media a:nth-child(3) {
    transform: translateY(500px);

    animation-name: social-media-buttons;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes social-media-buttons {
    0% {
        transform: translateY(500px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
        color: red;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #1d1b31;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }


    .home-section .social-media {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: auto;
        padding: 30px;
    }

    .home-section .social-media a {
        width: 90%;
        /* display: flex;
        align-items: center;
        justify-content: space-around; */
        padding: 20px;
        text-decoration: none;
        color: #E4E9F7;
        background: #1d1b31;
        border-radius: 20px;
        margin: 20px auto;
    }

}


@media (max-width: 566px) {
    .navbar .logo a {
        font-size: 27px;
    }

    
    .home-section .social-media {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: auto;
        
    }

    .home-section .social-media a {
        width: 90%;
        
        padding: 20px;
        text-decoration: none;
        color: #E4E9F7;
        background: #1d1b31;
        border-radius: 20px;
        margin: 10px auto;
    }
}